body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


table {
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
}


.information_text_area {
  height: max-content;
  /* overflow-wrap: break-all; */
  word-wrap: break-word;      
}

.submit-button-container {
  display: flex;  
  justify-content: center;  
  margin: 0 0 1rem 0;
  /* align-items: center;   */
}

.submit-button {
  /* margin: 2rem auto; */
}
