* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 0%,
      rgb(239, 242, 243) 100%
    );
  }
  
  h1 {
    text-align: center;
    margin: 1rem 0 0rem 0;
  }

  .app-canvas {
    display: absolute;
  }
  
  .form-container {
    max-width: 1450px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 1px 0px 1px 0px;
    border-radius:10px;
  }

  .accordion-container {
  /*  */
  }

  .accordion {
    /* border: 1px solid #b30505; */
    max-width: 1400px;
    margin: 1rem auto;
    
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #7fb8ed;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
  }
  
  .accordion-title:hover {
    background-color: #5c82c0;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #cef7ff;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }


  /* */

  .form-section-contents {
    display: flex;
    justify-content: space-between;
    border: 1px solid #3836363f;
  }

  .form-section-info-required-container {
    /* display: flex; */
    /* border: 1px solid #b30505; */
    width: 400px;
    text-align: left;
  }

  .form-section-po-container {
    /* border: 1px solid #000; */
    margin: 5px;
    width: 400px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .form-section-ao-radio-container {
    display: flex;
    /* border: 1px solid #d3d890; */
    width: 450px;
    margin: 5px; 
    font-size: x-small;
  }
  
  .form-section-po-ao-container {
    display: flex; 
    /* border: 1px solid #000; */
    margin: 10px 35px 10px 10px;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .form-section-radio-button-container {
    display: flex; 
    /* border: 1px solid #000; */
    margin: 5px;
  }

  .form-section-info-container {
    /* border: 1px solid #000; */
    display: flex;
    font-size: x-small;
  }

  .information_text_area {
    /* position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; */
    width: 350px;
    height: 100%;
  }

  /* export button style */

  /* CSS */
  .button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }

  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }

  .button-3:hover {
    background-color: #2c974b;
  }

  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }

  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }

  .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }