* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: rgb(245, 245, 245);
    background: radial-gradient(
      circle,
      rgb(200, 200, 200) 0%,
      rgb(194, 194, 194) 100%
    );
  }
  
  h1 {
    text-align: center;
    margin: 2rem 0 4rem 0;
  }
  
  .accordion {
    max-width: 1000px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #7fb8ed;
  }
  
  .accordion-title:hover {
    background-color: #5c82c0;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #cef7ff;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }


  /* */

  .form-section-contents {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
  }

  .form-section-info-required-container {
    display: flex;
    border: 1px solid #000;
  }

  .form-section-po-container {
    border: 1px solid #000;
    margin: 5px;
  }
  
  .form-section-po-ao-container {
    border: 1px solid #000;
    margin: 5px;
  }

  .form-section-radio-button-container {
    border: 1px solid #000;
    margin: 5px;
  }

  .form-section-info-container {
    border: 1px solid #000;
    margin: 5px;
  }